*.iml
.vscode/
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/.last_build_id
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner/GeneratedPluginRegistrant.*
*.symbols
*.map
*.dsym
*.zip
*.tar.gz
*.aar
*.apk
test_*.lrc