*.iml
*.class
*.jar
*.aar
*.apk
*.symbols
*.map
*.dsym
*.zip
*.tar.gz
*.so
.vscode/
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/.last_build_id
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/jniLibs/x86/
android/app/src/main/jniLibs/x86_64/
android/app/src/main/jniLibs/armeabi-v7a/
android/libs/
test_*.lrc